.header{
    height:100px;
    background: lemonchiffon;
}
.logo{
    background: burlywood;
}
.header--text{
    font-size: calc(0.5rem + 5vw);/*width экрана 540px, font-size 16px - 0.5*16+5%*540px=8+27=35px*/
}
.nav{
    background: darkcyan;
}
.content{
    background: skyblue;
}
form{
    width:50%;
    margin:auto !important;
}